<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Save the Planet</title>
</head>

<body>
    <h1>SAVE THE PLANET</h1>
    <p>While Covid-19 has shaken much of human society, the threat posed by global warming has not gone away.</p>
    <p>Human activities have increased carbon dioxide emissions, driving up temperatures.
        Extreme weather and melting polar ice are among the possible effects.</p>
    <a href="https://www.bbc.com/news/science-environment-24021772">go to BBC News Climate Change</a>

    <h1>Evidence of Climate Change</h1>
    <p>The current warming trend is of particular significance because most of it is extremely likely (greater than 95% probability)
        to be the result of human activity since the mid-20th century and proceeding at a rate that is unprecedented over decades to millennia.</p>
    <p>Earth-orbiting satellites and other technological advances have enabled scientists to see the big picture,
        collecting many different types of information about our planet and its climate on a global scale.
        This body of data, collected over many years, reveals the signals of a changing climate.</p>
    <p>The planet's average surface temperature has risen about 2.12 degrees Fahrenheit (1.18 degrees Celsius) since the late 19th century,
        a change driven largely by increased carbon dioxide emissions into the atmosphere and other human activities.</p>
    <p> The ocean has absorbed much of this increased heat, with the top 100 meters (about 328 feet)
        of ocean showing warming of more than 0.6 degrees Fahrenheit (0.33 degrees Celsius) since 1969.<p>
    <p>The Greenland and Antarctic ice sheets have decreased in mass.
        Data from NASA's Gravity Recovery and Climate Experiment show Greenland lost an average of 279 billion
        tons of ice per year between 1993 and 2019, while Antarctica lost about 148 billion tons of ice per year.<p>
    <a href="https://climate.nasa.gov/evidence/">go to NASA Climate Change Evidence</a>

    <h2>Ways to help to save the planet</h2>
    <p>1. USE YOUR VOICE<p>
    <p>We are the first generation to know we’re destroying the world, and we could be the last that can do anything about it.
        Speaking up is one of the most powerful things you can do especially if it’s to the right people.
        Talk to your MP. Tell them to commit to action to protect our natural world. </p>
    <p>2. REDUCE YOUR WASTE<p>
    <p>We need to make wasting our resources unacceptable in all aspects of our life.
        Every product we buy has an environmental footprint and could end up in landfill.
        The impact of plastic pollution on our oceans is becoming increasingly clear, having drastic impacts on marine life.<p>
    <p>3. VOLUNTEER<p>
    <p>Volunteering can be daunting, and expensive if you don’t know where to look. But it doesn’t need to be this hard to do good.
        Often local nature reserves or parks are looking for regular volunteers, 
        which can give you practical conservation experience as well as helping to restore nature your local area.<p>
    <a
        href="https://www.wwf.org.uk/thingsyoucando">go to WWF Help Save Our Planet</a>

</body>

</html>